# =========================
# ENV
# =========================
.env
.env.local
.env.*.local

# =========================
# NODE
# =========================
node_modules/
.pnpm-store/

# =========================
# BUILD
# =========================
.next/
out/
dist/
build/

# =========================
# LOGS
# =========================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# PRISMA
# =========================
packages/db/prisma/migrations/*/migration_lock.toml

# =========================
# DOCKER
# =========================
*.pid
*.seed

# =========================
# TESTS
# =========================
coverage/

# =========================
# CACHE
# =========================
.cache/
.turbo/

# =========================
# TEMP
# =========================
tmp/
temp/